.filter-item {
    padding: 15px;
    background-color: #FFFFFF;
}

.filter-item-target {
    padding: 15px;
    background-color: #2196F3;
}


.label {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4A4A4A;
}

.label-target {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}