@import './fonts.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

ul {
    list-style-type: none;
}